* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

header {
  height: 95vh;
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Navbar */
header {
  padding: 25px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-btns {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  font-family: "Barlow", sans-serif;
}

.nav-item {
  padding: 0px 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.links-btns button {
  border: none;
  background-color: #fff;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.links-btns button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 5px auto;
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Header Hero Section */
.header-hero {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 75px;
}

.header-hero h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 100px;
}

.header-hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* Service Description Section */
.service-section {
  width: 100%;
}

.service-description {
  display: flex;
}

.service-description img {
  width: calc(100% / 2);
}

.description {
  padding: 100px;
}

.description h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  margin-bottom: 25px;
}

#standout {
  max-width: 85%;
}

.description p {
  font-family: "Barlow", sans-serif;
  margin-bottom: 25px;
}

.transform-standout {
  display: flex;
  flex-direction: column;
}

.transform-standout p {
  max-width: 75%;
}

.description h4 {
  font-family: "Fraunces", serif;
  font-size: 0.9rem;
}

#double-imgs {
  padding: 0;
  display: flex;
  width: 100%;
}

.img-w-description {
  text-align: center;
  position: relative;
}

.img-w-description img {
  width: 100%;
}

.text {
  position: absolute;
  top: 65%;
}

.text h1 {
  font-size: 1.5rem;
}

.text p {
  padding: 0 125px;
}

#gd-text {
  color: hsl(167, 40%, 24%);
}

#photo-text {
  color: hsl(198, 62%, 26%);
}

.learn-more {
  position: relative;
  display: flex;
  flex-direction: column;
}

.underline {
  width: 110px;
  height: 8px;
  opacity: 0.3;
  border-radius: 20px;
  left: -4px;
  transform: translateY(-6px);
}

/* Testimonial Section */
.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h3 {
  font-family: "Fraunces", serif;
  letter-spacing: 2px;
  color: hsl(210, 4%, 67%);
  margin: 125px 0 75px;
}

.client-container {
  width: 90%;
  display: flex;
  text-align: center;
}

.clients {
  text-align: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients img {
  width: 75px;
  border-radius: 100px;
  margin-bottom: 50px;
}

.client-quote {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-weight: 500;
  margin-bottom: 50px;
  max-width: 70%;
}

.client-name {
  font-family: "Fraunces", serif;
  margin-bottom: 10px;
}

.client-role {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-size: 14px;
}

/* Gallery Section */
.gallery {
  margin-top: 125px;
  display: flex;
}

.gallery-container {
  display: flex;
}

/* Footer */
footer {
  background-color: hsl(168, 38%, 53%);
  /* height: 50vh; */
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo {
  margin: 50px 0;
}

footer ul {
  display: flex;
  align-self: center;
}

footer ul li {
  list-style: none;
  padding: 0 25px;
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

footer ul li:hover {
  color: #000;
}

.gallery-container img {
  width: 50%;
}

#socials img {
  padding: 15px 10px 0;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.3s;
}

#socials img:hover {
  transform: scale(1.2);
}

@media (max-width: 970px) {
  .hamburger {
    display: block;
    margin-left: auto;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .links-btns {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 80%;
    text-align: center;
    background-color: #fff;
    transition: 0.3s;
    z-index: 10;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-btns {
    margin: 0;
    margin-left: 50px;
  }

  .links-btns.active {
    left: 10%;
  }

  .nav-item {
    margin: 16px 0;
    display: block;
    color: hsl(210, 4%, 67%);
    text-align: center;
  }

  .links-btns button {
    margin-left: 0;
    background-color: hsl(51, 100%, 49%);
    margin: 15px 0;
  }

  .nav-item:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .links-btns button:hover {
    background-color: hsla(51, 100%, 49%, 0.7);
    color: #000;
  }

  .header-hero {
    margin-top: 20px;
  }

  .header-hero img {
    height: 75px;
    margin-top: -10px;
  }

  .service-description {
    flex-direction: column;
  }

  .service-description img {
    width: 100%;
  }

  .description {
    text-align: center;
    align-items: center;
    padding: 65px 40px;
  }

  .transform-standout p {
    max-width: 80%;
  }

  .description h4 {
    margin-top: 50px;
  }

  #first-description {
    flex-direction: column-reverse;
  }

  #double-imgs {
    flex-direction: column;
  }

  #orange {
    margin-top: -5px;
  }

  .text {
    position: absolute;
    bottom: 0;
  }

  .text h1 {
    margin: -20px 0 15px;
  }

  .text p {
    padding: 0 25px;
  }

  .client-container {
    flex-direction: column;
  }

  .testimonials h3 {
    margin-top: 75px;
  }

  .client-name {
    margin-top: -10px;
  }

  .client-role {
    margin-bottom: 75px;
  }

  .gallery {
    flex-direction: column;
    margin-top: 0;
  }

  .learn-more {
    align-items: center;
  }
}
